body{
    background-image: url("/static/images/body_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.signup-animate{
    animation: up 2s;
}

@keyframes up{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}