{%extends "layouts/admin.html"%}
{%block content%}
    <section>
        <div class="container p-3">
            <div class="card border-top border-0 border-danger shadow-lg">
                <div class="card-body">
                    <div class="text-start my-2">
                        <h2>ITEM ENTRY</h2>
                    </div>
                    <hr>
                    <div class="my-2">
                        <form method="POST">
                            <div class="row">
                                <div class="col-6 my-2">
                                    <label class="form-label">Item No.</label>
                                    <input type="text" class="form-control" name="is_itemno" placeholder="Item No">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Serial No.</label>
                                    <input type="text" class="form-control" placeholder="Serial No">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Item Name</label>
                                    <input type="text" class="form-control" placeholder="Item Name">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Item Description</label>
                                    <input type="text" class="form-control" placeholder="Item Description">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Category No.</label>
                                    <input type="text" class="form-control" placeholder="Category No">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Brand</label>
                                    <input type="text" class="form-control" placeholder="Brand">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Model</label>
                                    <input type="text" class="form-control" placeholder="Model">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Location</label>
                                    <input type="text" class="form-control" placeholder="Location">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Department</label>
                                    <input type="text" class="form-control" placeholder="Department">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Owner</label>
                                    <input type="text" class="form-control" placeholder="Owner">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Pic</label>
                                    <input type="text" class="form-control" placeholder="Pic">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">BegStock</label>
                                    <input type="text" class="form-control" placeholder="BegStock">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">Unit</label>
                                    <input type="text" class="form-control" placeholder="Unit">
                                </div>
                                <div class="col-6 my-2">
                                    <label class="form-label">User No.</label>
                                    <input type="text" class="form-control" placeholder="UserNo">
                                </div>
                            </div>
                            <div class="d-grid my-4">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}