{%extends "layouts/students.html"%}
{%block content%}

    <!-- MODAL -->
    <div class="modal fade" id="item_detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="item_detial_show"></div>
          </div>
        </div>
    </div>

    <section class="container-fluid">
        <div class="container py-3 " style="background: white;">
            <div class="text-start my-2 d-flex justify-content-between">
                <h3>Items</h3>
                <div class="text-end">
                    <select name="" id="" class="form-select">
                        
                        <option value="" selected>All Category</option>
                        {% for cat in cat %}
                        <option value="{{cat.Cat_Id}}">{{cat.Cat_Name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <hr>
            <div class="recommended-items" id="items_list">

                {%for item in items%}
                <div href="/" class="recommended-items-card" data-aos="fade-up" data-aos-duration="1200" id="item_data">
                    <img src="{{url_for('static', filename='uploads/')}}{{item.IS_Pic}}" alt="">
                    <div class="text-start">
                        <input type="text" hidden class = "form-text" value="{{item.IS_ItemNo}}">
                        <h5 class="fw-light"  style="display: block; white-space: nowrap; 
                        overflow: hidden; text-overflow: ellipsis;">{{item.IS_ItemName}}</h5>
                        <span class="text-muted">Brand: {{item.Br_BrandName}}</span><br>
                        <span class="text-muted">Condition: {{item.Condition}}</span><br>
                        <span class="text-muted">Location: {{item.Loc_Name}}</span><br>
                        <span class="text-muted">Stock(s): {{(item.IS_BegStock + item.AddStock + item.RetStock) - (item.DelStock + item.BorStock)}}</span>
                    </div>
                    <div class="d-grid my-2">
                        <a href="#" type="button" type="button" class="btn btn-primary" name="btnBorrow" data-bs-toggle="modal" data-item-id="{{item.IS_ItemNo}}" data-bs-target="#item_detail" id="item_modal">View Item</a>
                    </div>
                </div>
                {%endfor%}

            </div>
            <div class="container my-2 " style="background: white; margin-top: 0px; margin-bottom: 0%;" >
                <div class="text-center">
                    <button class="btn btn-outline-success">Show More</button>
                </div>
            </div>
        </div>
        
    </section>

    <!-- RECOMMENDED ITEMS -->
    <section class="container-fluid">
        <div class="container py-3" style="background: white;">
            <div class="text-start my-2">
                <h3 class="">Recommended Items</h3>
            </div>
            <div class="recommended-items">
                <div href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/webcam.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Rappoo webcam</h4>
                    </div>
                </div>
                <div href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/mouse.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Logitech Mouse</h4>
                    </div>
                </div>
                <div href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/mixer.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Yamaha 6slot mixer</h4>
                    </div>
                </div>
                <div href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/lights.jpg')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">RGB Sound Light</h4>
                    </div>
                </div>
                <div href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/camera_cannon.jpg')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Canon EOD200S</h4>
                        <span class="text-muted">Brand: Cannon</span><br>
                        <span class="text-muted">Condition: Good</span><br>
                        <span class="text-muted">Location: Supply Office</span><br>
                        <span class="text-muted">Qty: 5</span>
                    </div>
                    <div class="d-grid my-2">
                        <button class="btn btn-sm btn-success">Borrow</button>
                    </div>
                </div>
                <div href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/alto_speaker.jpg')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Alto 500w Speaker</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
$(document).ready(function() {

    $(document).on('click', '#btnBorrow', function(){
        var item_id = $('#item-id').val();
        var purpose_of_borrow = $('#purpose-of-borrow').val();
        var item_quantity = $('#item-quantity').val();

        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/singleitem",
            data: {
                item_id: item_id,
                purpose_of_borrow: purpose_of_borrow,
                item_quantity: item_quantity
            },
            success: function(data){
                alert(data.message);
                location.reload();
            }
        });
    });


    $(document).on('click', "#item_modal", function(){
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/get/item/detail/borrow",
            data: {
                item_id: $(this).attr('data-item-id')
            },
            success: function(data){
                console.log(data)
                $('#item_detial_show').html(`
                    <div class="row justify-content-center">
                        <div class="col-6 d-flex justify-content-center align-items-center" style="height: fit-content;">
                            <img class="item-img-modal" src="../static/uploads/${data[0].is_pic}" alt="">
                        </div>
                        <div class="col-6">
                            <div class="text-start my-2">
                                <h2 class="fw-light">${data[0].is_itemname}</h2>
                                <span class="text-muted"><strong>Brand</strong>: ${data[0].br_brandname}</span>
                                <br>
                                <span class="text-muted"><strong>Model</strong>:${data[0].is_model}</span>
                                <br>
                                <span class="text-muted"><strong>Description</strong>: ${data[0].is_itemdesc}</span>
                                <br>
                                <span class="text-muted"><strong>Stock(s)</strong>: ${data[0].is_begstock}</span>
                                <br>
                                <span class="text-muted"><strong>Condition</strong>: ${data[0].is_condition}</span>
                                <br>
                                <span class="text-muted"><Strong>Owner</Strong>: ${data[0].name}</span>
                                <br>
                                <span class="text-muted"><strong>Location</strong>: ${data[0].loc_name}</span>
                            </div>
                            <hr>
                            <div class="my-2">
                                <input type="hidden" id="item-id" value="${data[0].is_itemno}">
                                <div class="my-2">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Purpose of borrow." id="purpose-of-borrow" style="height: 100px"></textarea>
                                        <label for="purpose-of-borrow">Purpose of borrow</label>
                                    </div>
                                </div>
                                <div class="my-2">
                                    <label class="form-label">Qty:</label>
                                    <input type="number" value="1" min="1" max="5" class="form-control" style="width: 100px;" id="item-quantity">
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="chkAgreement" name ="chkAgreement">
                                    <label class="form-check-label" for="chkAgreement">
                                    By ticking, you are confirming that you have read, understand and agree to CTU <a href="">terms and conditions.</a>
                                    </label>
                                </div>
                                <div class="my-3 d-grid">
                                    <button class="btn btn-success btnBorrow" id="btnBorrow">Borrow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                `);
            }
        });
    });

    $(document).on('input', '#student_search', function(){
        var input_search_data = $(this).val();

        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/get/on/search/data/items",
            data: {
                input_search_data: input_search_data
            },
            success: function(data){
                $('#items_list #item_data').remove();
                for(var i=0; i < data.length;i++){
                    var items = data[i];

                    $('#items_list').append(`
                        <div href="/" class="recommended-items-card" data-aos="fade-up" data-aos-duration="1200" id="item_data">
                            <img src="../static/uploads/${items.is_pic}" alt="">
                            <div class="text-start">
                                <input type="text" hidden class = "form-text" value="${items.is_itemno}">
                                <h5 class="fw-light"  style="display: block; white-space: nowrap; 
                                overflow: hidden; text-overflow: ellipsis;">${items.is_itemname}</h5>
                                <span class="text-muted">Brand: ${items.br_brandname}</span><br>
                                <span class="text-muted">Condition: ${items.is_condition}</span><br>
                                <span class="text-muted">Location: ${items.loc_name}</span><br>
                                <span class="text-muted">Stock(s): ${items.is_begstock}</span>
                            </div>
                            <div class="d-grid my-2">
                                <a href="#" type="button" type="button" class="btn btn-primary" name="btnBorrow" data-bs-toggle="modal" data-item-id="${items.is_itemno}" data-bs-target="#item_detail" id="item_modal">View Item</a>
                            </div>
                        </div>
                    `);
                }
            }
        });
    })
});

</script>

{%endblock%}