{%extends "layouts/students.html"%}
{%block content%}

    <!-- CAROUSEL FOR SPECIFIC ITEMS -->
    <section class="slider-wrapper">
        <div class="container">
            <button class="slide-arrow" id="slide-arrow-prev">
                <span>&#8249;</span>
            </button>
            
            <button class="slide-arrow" id="slide-arrow-next">
                <span>&#8250;</span>
            </button>
            
            <ul class="slides-container" id="slides-container">
                <li class="slide"></li>
                <li class="slide"></li>
                <li class="slide"></li>
                <li class="slide"></li>
            </ul>
        </div>
    </section>

    <section class="contaier-fluid bg-light">
        <div class="container py-3">
            <div class="text-start my-2">
                <h2 class="">Categories</h2>
            </div>
            <div class="categories">
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/alto_speaker.jpg')}}" alt="">
                    <div class="text-center">
                        <span>Speaker</span>
                    </div>
                </a>
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/camera_cannon.jpg')}}" alt="">
                    <div class="text-center">
                        <span>Camera</span>
                    </div>
                </a>
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/keyboard.webp')}}" alt="">
                    <div class="text-center">
                        <span>Keyboard</span>
                    </div>
                </a>
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/mouse.webp')}}" alt="">
                    <div class="text-center">
                        <span>Mouse</span>
                    </div>
                </a>
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/monitor.jpg')}}" alt="">
                    <div class="text-center">
                        <span>Monitor</span>
                    </div>
                </a>
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/mixer.webp')}}" alt="">
                    <div class="text-center">
                        <span>Mixer</span>
                    </div>
                </a>
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/lights.jpg')}}" alt="">
                    <div class="text-center">
                        <span>Lights</span>
                    </div>
                </a>
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/webcam.webp')}}" alt="">
                    <div class="text-center">
                        <span>Webcam</span>
                    </div>
                </a>
                <a href="/" class="categories-card">
                    <img src="{{url_for('static', filename='uploads/hdmi.png')}}" alt="">
                    <div class="text-center">
                        <span>Wire</span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <!-- RECOMMENDED ITEMS -->
    <section class="container-fluid">
        <div class="container py-3">
            <div class="text-start my-2">
                <h3 class="">Recommended Items</h3>
            </div>
            <div class="recommended-items">
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/webcam.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Rappoo webcam</h4>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/mouse.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Logitech Mouse</h4>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/mixer.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Yamaha 6slot mixer</h4>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/lights.jpg')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">RGB Sound Light</h4>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/camera_cannon.jpg')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Canon EOD200S</h4>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/alto_speaker.jpg')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Alto 500w Speaker</h4>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="container">
        <hr>
    </div>
    <section class="container-fluid">
        <div class="container py-3">
            <div class="text-start my-2">
                <h3 class="">Items</h3>
            </div>
            <div class="recommended-items">
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/webcam.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Rappoo webcam</h4>
                        <p class="text-muted">Qty: 20</p>
                        <p class="text-muted"></p>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/mouse.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Logitech Mouse</h4>
                        <p class="text-muted">Qty: 5</p>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/webcam.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Rappoo webcam</h4>
                        <p class="text-muted">Qty: 20</p>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/webcam.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Rappoo webcam</h4>
                        <p class="text-muted">Qty: 20</p>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/webcam.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Rappoo webcam</h4>
                        <p class="text-muted">Qty: 20</p>
                    </div>
                </a>
                <a href="/" class="recommended-items-card">
                    <img src="{{url_for('static', filename='uploads/webcam.webp')}}" alt="">
                    <div class="text-start">
                        <h4 class="fw-light">Rappoo webcam</h4>
                        <p class="text-muted">Qty: 20</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
{%endblock%}